/* Navbar */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    transition: 1s;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar a {
    transition: 0.3s ease-in-out;
    margin: 0 5px;
    font-size: 1.2rem;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

.navbar a:hover {
    border-top: 4px solid #337aff;
    border-bottom: 4px solid #337aff;
    padding: 13px 20px;
}

/* Hero */

#hero {
    height: 100vh;
    background: url('https://images.squarespace-cdn.com/content/v1/556718eae4b00c4ba906ac75/1515516141715-LZ19NLQ941OD7QA1JVX3/ke17ZwdGBToddI8pDm48kDEDYh4Y0JGhR6hzuwcJ44gUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcz6bs2FkMoqlrQIzq4g5ogDqXr_T7rMikH_TfPkEE4wwzGwe9KEhUq6A0DxOZf-75/SS16+BODYPUMP+BRAND+IMAGE.jpg?format=1500w') no-repeat center center/cover;
    position: relative;
 
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.83);
}

#hero .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    text-align: center;
    color: white;
}

#hero * {
    z-index: 10;
}

.content h1 {
    font-size: 60px;
}

.content p {
    font-size: 25px;
    margin: 50px;
}

.logo {
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 2rem;
}

.logoSpan {
    color: #337aff;
}

.features {
    display: flex;
    height: auto;
}

.features .icon {
    text-align: center;
    height: 100%;
    padding-top: 4%;
}

.icon h2 {
    padding: 5%;
}

.icon h2:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid #337aff; /* This creates the border. Replace black with whatever color you want. */
}

.icon p {
    padding: 5%;
    padding-top: 2%;
    line-height: 1.7;
}

.ice {
    background: #337aff;
    color: white;
    padding: 1rem;
    font-size: 4rem;
    border-radius: 50%;
    margin-bottom: 15px;
}   

/* Testimonials */

.Testimonials {
    background: #363A59;
    color: white;
}

.innerT {
    padding: 60px 40px;
}

.innerT h2 {
    font-size: 40px;
    padding: 20px 0;
}

.innerT h2:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
 /* This will center the border. */
    width: 25%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 2px solid #337aff; /* This creates the border. Replace black with whatever color you want. */
}

.innerT p {
    padding: 20px 0;
    padding-bottom: 40px;
}

/* Contact */

#contact .inner{
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.split {
    width: 50%;
}

.contact-method {
    padding: 3%;
    padding-bottom: 40px;
    border: 2px solid #363A59;
}

.fields {
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
}

.field {
    width: 40%;
}

.field textarea {
    width: 655px;
    height: 100%;
    background: #363A59;
}

.fields input {
    background-color: #363A59;
    outline-style: none;
    border: none;
    padding: 10px;
    padding-right: 150px;
    margin-bottom: 10%;
}

.fields label {
    display: block;
    width: 100%;
}

.half {
    display: inline-block;
}

#footer {
    border: 2px solid #363A59;
}

.footer-inner {
    display: flex;
    flex-direction: column;
}

.footer-icons {
    list-style: none;
    display: flex;
}

.footer-icons a {
    color: #fff;
    text-decoration: none;
}