/* @import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

.App {
  text-align: center;
}

*{
  text-align:center;
  font-family: "PT Sans",sans-serif;
}

.app-container {
  width:100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 10px;
}

#con{
  width:40%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-right:40px;
}

.form-container {
  width:80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size:20px;
}

label {
  height: 90px;
}

.choices {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-around;
  text-align:center;
}

#username input {
  width: 300px;
}
#username {
  text-align: center;
  width: 100%;
  font-size:25px;
  background-color: #BCFB9D;
}

#password input {
  width: 300px;
}

#password {
  text-align: center;
  width: 100%;
  font-size:25px;
  background-color: #BCFB9D;
}

#email input {
  width: 300px;
}

#email {
  text-align: center;
  width: 100%;
  font-size:25px;
  background-color: #BCFB9D;
}


button {
  text-align:center;
  font-size:1em;
  width: 180px;
  height: 40px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 50px;
  margin-left:100px;
  background-color: rgb(0, 119, 204);
  color:white;
}

.controls {
  display: flex;
}

@media (max-width: 600px) {
  *{
    margin: 0 auto;
  }
  .app-container {
    width:100%;
    display: flex;
    flex-direction: column;
    padding-right:10px;
    margin: 40px 0px 40px 0px;
  }

  button {
    width:100%;
    text-align:center;
    height: 40px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 50px;
  }
    #username input {
      width: 300px;
    }
    #username {
      text-align: center;
      width: 100%;
    }
    #password input {
      width: 300px;
    }
    #password {
      text-align: center;
      width: 100%;
    }
    
    #email input {
      width: 300px;
    }
    
    #email {
      text-align: center;
      width: 100%;
    }
    #con{
      margin-top:20px;
      padding-right:45px;
    }
  
} */